.Sidebar {
    min-height: 90%;
    min-width: 5%;
    background-color: bisque;
    border: 1px solid black;
    border-radius: 0px 16px 16px 0px;
    position: fixed;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.Sidebar > * {
    margin-top: 25px;
    margin-bottom: 25px;
}

#colorpicker {
    width: 35px;
    height: 35px;
}

#pen {
    padding-top: 20px;
}

a {
    color: inherit;
}
