.Sidebar {
    height: 90%;
    width: 5%;
    background-color: bisque;
    border: 1px solid black;
    border-radius: 0px 16px 16px 0px;
    position: fixed;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.Sidebar > * {
    margin-top: 25px;
    margin-bottom: 25px;
}

#colorpicker {
    width: 35px;
    height: 35px;
}

#pen-fill {
    margin-top: 20px;
    border: inherit;
    
}

a {
    color: inherit;
}

.tool-button {
    height: 45px;
    width: 45px;
    background-color: transparent;
    border: none;
}

#color-add, #clear {
    word-wrap: break-word;
    width: 49px;
    padding: 0px;
   
}

#clear {
    height: 30px;
}
